---
import SidebarCategory from './sidebar/Category.astro';
import SidebarLink from './sidebar/Link.astro';
import { getUrl } from '../utils/url';

import type { MDXDocumentInstance } from '../types/docs';

const documents = (await Astro.glob(
  '../pages/docs/**/*.mdx'
)) as MDXDocumentInstance[];

const docsByPath = documents.reduce((map, doc) => {
  if (doc.url) {
    map.set(doc.url, doc);
  }

  return map;
}, new Map<string, MDXDocumentInstance>());
---

<ul>
  <li>
    <SidebarCategory>Getting started</SidebarCategory>
    <ul>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/about'))}>
          About
        </SidebarLink>
      </li>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/fundamentals'))} />
      </li>
    </ul>
  </li>
  <li>
    <SidebarCategory>Integration</SidebarCategory>
    <ul>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/react/usage'))}
          >React</SidebarLink
        >
      </li>
    </ul>
  </li>
  <li>
    <SidebarCategory>API</SidebarCategory>
    <ul>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/api/translator'))}
          >Translator</SidebarLink
        >
      </li>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/api/plurals'))}
          >Plurals</SidebarLink
        >
      </li>
      <li>
        <SidebarLink doc={docsByPath.get(getUrl('/docs/api/react'))}
          >React</SidebarLink
        >
      </li>
    </ul>
  </li>
</ul>
