@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Genos:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&family=Offside&display=swap');

html:has(.drawer-toggle:checked) {
  overflow-y: hidden;
  scrollbar-gutter: auto;
}

.mobile-menu-padding {
  padding-right: 16px;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Genos', sans-serif;
}
