section[aria-label='content'] h1,
section[aria-label='content'] h2,
section[aria-label='content'] h3,
section[aria-label='content'] h4,
section[aria-label='content'] h5 {
  font-family: 'Genos', sans-serif;
  position: relative;
}

section[aria-label='content'] h1:not(:nth-of-type(1)) {
  margin-top: 32px;
}

section[aria-label='content'] h2,
section[aria-label='content'] h3 {
  margin-top: 32px;
}

section[aria-label='content'] h1,
section[aria-label='content'] h2,
section[aria-label='content'] h3,
section[aria-label='content'] h4,
section[aria-label='content'] h5 {
  cursor: pointer;
}

section[aria-label='content'] h1:hover::before,
section[aria-label='content'] h2:hover::before,
section[aria-label='content'] h3:hover::before,
section[aria-label='content'] h4:hover::before,
section[aria-label='content'] h5:hover::before {
  content: '#';
  position: absolute;
  font-size: 90%;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-120%);
}

section[aria-label='content'] h1 {
  font-size: 240%;
  font-weight: 500;
}
section[aria-label='content'] h2 {
  font-size: 200%;
  font-weight: 400;
}
section[aria-label='content'] h3 {
  font-size: 160%;
  font-weight: 400;
}
section[aria-label='content'] h4 {
  font-size: 140%;
  font-weight: 300;
}
section[aria-label='content'] h5 {
  font-size: 120%;
  font-weight: 300;
}

section[aria-label='content'] p {
  padding: 4px 0px 8px 0px;
}

section[aria-label='content'] a {
  text-decoration: underline;
  color: #0ea5e9;
}

section[aria-label='content'] .tabs .tab:first-of-type {
  position: relative;
  z-index: 0;
}

section[aria-label='content'] .tabs .tab:first-of-type {
  margin-left: 32px;
}

section[aria-label='content'] .tabs .tab:checked {
  top: 1px;
  z-index: 2;
}

section[aria-label='content'] .tabs .tab-content pre {
  margin-top: 0;
}

section[aria-label='content'] pre {
  margin: 8px 0px;
  padding: 8px 12px;
  border: 1px solid rgb(52 211 153);
  border-radius: 16px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  counter-reset: line var(--code-line-start, 0);
  overflow-x: auto;
  box-sizing: border-box;
  cursor: text;
}

@supports (scrollbar-width: auto) {
  section[aria-label='content'] pre {
    scrollbar-width: var(--scrollbar-width) !important;
  }
}

section[aria-label='content'] pre code {
  font-family: 'Kode Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

section[aria-label='content'] .line-numbers pre code::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3em;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  -moz-user-select: none;
  z-index: 0;
}

section[aria-label='content'] .line-numbers pre code .line:not(:last-of-type),
section[aria-label='content'] .line-numbers pre code .line:has(span) {
  counter-increment: line;
}
section[aria-label='content']
  .line-numbers
  pre
  code
  .line:not(:last-of-type)::before,
section[aria-label='content'] .line-numbers pre code .line:has(span)::before {
  content: counter(line);
  display: inline-block;
  width: 1.6em;
  margin-right: 1.2em;
  text-align: right;
  color: #888;
}

section[aria-label='content'] .file-name pre {
  padding-top: 34px !important;
}

section[aria-label='content'] .file-name pre::before {
  content: var(--file-name);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 16px;
  background-color: #1e293b;
  color: #6ee7b7;
  z-index: 1;
  font-size: 80%;
}
