---
import MySiteLayout from '../layouts/MainLayout.astro';

---
<MySiteLayout title="Home Page">
  <div class="relative mx-auto max-w-7xl">
    <main class="py-10">

    </main>
  </div>
</MySiteLayout>