---
import clsx from "clsx";
import type { MDXDocumentInstance } from "../../types/docs";

export type Props = {
  doc?: MDXDocumentInstance | undefined;
  selected?: boolean;
};

const { doc, selected } = Astro.props;

const hasCustomTitle = Astro.slots.has("default");
const title = doc?.frontmatter.title ?? "?NO_TITLE";
const tooltip = doc?.frontmatter.description;
const href = doc?.url ?? "#";
---

<a
  class={clsx("-ml-px block cursor-pointer border-l pl-4 ", {
    "border-slate-400 border-opacity-20 hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300":
      !selected,
    "text-emerald-500 border-current font-semibold dark:text-emerald-400":
      selected,
  })}
  href={href}
  title={tooltip}
>
  {!hasCustomTitle && title ? title : <slot />}
</a>
